<!-- Scripts -->
<script src="{{ site.github.url }}{{ site.github.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.github.url }}{{ site.github.baseurl }}/assets/js/jquery.scrollex.min.js"></script>
<script src="{{ site.github.url }}{{ site.github.baseurl }}/assets/js/jquery.scrolly.min.js"></script>
<script src="{{ site.github.url }}{{ site.github.baseurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.github.url }}{{ site.github.baseurl }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.github.url }}{{ site.github.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.github.url }}{{ site.github.baseurl }}/assets/js/main.js"></script>